//fonts
$font_0: Lato;
$font_1: League Spartan;
$font_2: Open Sans Light;
$font_3: Open Sans;

//urls
$url_0: url('fonts/Lato-Bold.eot');
$url_1: url('fonts/Lato-Bold.eot?#iefix');
$url_2: url('fonts/Lato-Bold.woff');
$url_3: url('fonts/Lato-Bold.ttf');
$url_4: url('fonts/Lato-Bold.svg#eea591db52cf6ebc8992abb7621b9256');
$url_5: url('fonts/LeagueSpartan-Bold.eot');
$url_6: url('fonts/LeagueSpartan-Bold.eot?#iefix');
$url_7: url('fonts/LeagueSpartan-Bold.woff');
$url_8: url('fonts/LeagueSpartan-Bold.ttf');
$url_9: url('fonts/LeagueSpartan-Bold.svg#211ac8f8a3bc529cc41961980dffd6dd');
$url_10: url('fonts/OpenSans-Light.eot');
$url_11: url('fonts/OpenSans-Light.eot?#iefix');
$url_12: url('fonts/OpenSans-Light.woff');
$url_13: url('fonts/OpenSans-Light.ttf');
$url_14: url('fonts/OpenSans-Light.svg#09be4bfe8975a657af6444a6f1d73848');
$url_15: url('fonts/OpenSans-LightItalic.eot');
$url_16: url('fonts/OpenSans-LightItalic.eot?#iefix');
$url_17: url('fonts/OpenSans-LightItalic.woff');
$url_18: url('fonts/OpenSans-LightItalic.ttf');
$url_19: url('fonts/OpenSans-LightItalic.svg#fccccf1acf55b11d3e92cdf123b28da0');
$url_20: url('fonts/OpenSans-Regular.eot');
$url_21: url('fonts/OpenSans-Regular.eot?#iefix');
$url_22: url('fonts/OpenSans-Regular.woff');
$url_23: url('fonts/OpenSans-Regular.ttf');
$url_24: url('fonts/OpenSans-Regular.svg#dc56f0938c09c27a4156bb0f8f5176a2');

@font-face {
	font-family: $font_0;
	src: $url_0;
	src: $url_1 format('embedded-opentype'), $url_2 format('woff'), $url_3 format('truetype'), $url_4 format('svg');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: $font_1;
	src: $url_5;
	src: $url_6 format('embedded-opentype'), $url_7 format('woff'), $url_8 format('truetype'), $url_9 format('svg');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: $font_2;
	src: $url_10;
	src: $url_11 format('embedded-opentype'), $url_12 format('woff'), $url_13 format('truetype'), $url_14 format('svg');
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: $font_2;
	src: $url_15;
	src: $url_16 format('embedded-opentype'), $url_17 format('woff'), $url_18 format('truetype'), $url_19 format('svg');
	font-style: italic;
	font-weight: 200;
}
@font-face {
	font-family: $font_3;
	src: $url_20;
	src: $url_21 format('embedded-opentype'), $url_22 format('woff'), $url_23 format('truetype'), $url_24 format('svg');
	font-style: normal;
	font-weight: 400;
}
