$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower
h1
{
    font: 200 50px / 53px OpenSans; color: white;
    letter-spacing: 0.03em;
}
h3
{
	font-family: LeagueSpartan-Bold;
}
p
{
    font: 400 15px / 30px OpenSans; color: white;
}
button
{
    font-size: 22px;

    display: inline-block;

    padding: 20px 80px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    letter-spacing: 2px;

    color: #fff;
    border: none;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 5px;
    background-color: #1a1e1f;
    box-shadow: inset 0 1px 0 rgba(99, 99, 99, .4);
    &:hover,
    &:focus
    {
        text-decoration: none;
        background-color: #1a1e1f;
    }
}

header
{
    padding: 100px 0;

    p
    {
        padding: 35px 0 97px 0;

        color: #fff;
    }
    .italic
    {
        font-style: italic;
        font-size: 16px;
    }
    img
    {
        margin-top: 280px;
    }
    button
    {
        background: RGBA(232, 185, 104, 0);
        border: 2px solid #fff;
        &:hover
        {
            border: 2px solid #000;
            background: RGBA(0, 0, 0, 0.7);
        }

    }
}

.iMac
{
    padding: 15px 0;

    button
    {
        background: #02596B;
        margin: 40px 0 169px;
        &:hover
        {
            background: RGBA(0, 0, 0, 0.7);
        }
    }
    h1
    {
        padding-top: 70px;
    }
    p
    {
        padding-top: 47px;
    }
}

.testimonials
{
    padding: 140px 0;

    color: #fff;
    background: url(../images/sliderbg.jpg) center no-repeat;
    background-size: cover;
    h1
    {
        font: italic 300 43px / 53px Lato;

        padding: 38px 0 68px 0;

        color: #fff;
    }
    p
    {
        font-size: 26px;
        margin: 50px 0;
        font-style: italic;
    }
    #firstSlider
    {
        ol
        {
            background: #fff;
        }
    }
}

.bigone
{
    background:#f6f6f4 url(../images/arrowbg.jpg) top no-repeat;
    display:block;
    padding-top:175px;
    padding-bottom:136px;
    p {
      color:#7a8387;
    }
    h1 {
      color:#7a8387;
      text-transform: uppercase;
    }
    .padding80
    {
        padding: 0 80px;
    }
    .row-margin50
    {
        margin: 50px 0;
    }
    .border-right
    {
        border-right: 1px solid rgba(208, 217, 226, 0.4);
    }
    h3
    {
        margin:50px 0 10px;
    }
    .flat-box
    {
        p
        {
            padding-bottom: 25px;
        }
    }
    button
    {
        background: #E8B968;
        &:hover
        {
            background: RGBA(0, 0, 0, 0.7);
        }
    }
}
footer
{
    padding: 60px 0;
}

.flat-box {
   background-color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1);
     -moz-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1);
      box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1);
       transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
         -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
         img
         {
            width: 100%;
         }
&:hover, &:focus { transform: translate(0, -15px); -webkit-transform: translate(0, -15px); -o-transform: translate(0, -15px); -moz-transform: translate(0, -15px); }

}
footer {
  background-color:#111;
  ul
  {
    margin-top: 25px;
  }
  a {
    text-decoration: none;
    color:#fff;
    &:hover
    {
        text-decoration: none;
    }
  }
  li
  {
      text-align: center;
      margin-top: 10px;
  }
  img
  {
      margin: auto;
      width: 100px;
  }
}
@media (max-width: 992px)
{
    .iMac
    {
        background: #E8B968;
    }
    .bigone
    {
        .border-right
        {
            border-right: 0;
        }
	.padding80{
		padding:0;
	}
        img
        {
            width: auto;
            margin: auto;
        }
        .flat-box
        {
            padding: 50px 0;
            &:hover,
            &:focus
            {
                -ms-transform: translate(0, -45px);
                transform: translate(0, -45px);
                -webkit-transform: translate(0, -45px);
                -o-transform: translate(0, -45px);
                -moz-transform: translate(0, -45px);
            }
        }
    }

    footer
    {
	    img
	    {
		    margin-top: 25px;
	    }
    }
}
 // Parallax
.parallax-1, .parallax-2 {height: 900px;}
.parallax-1{background: url('../images/background.jpg') 100% 80% fixed ;background-size: cover;}
.parallax-2{background: url('../images/iMac.jpg') 100% 80% fixed ;background-size: cover;}
